/* Set default font-family */
.ql-container.ql-snow{
    font-family: 'Finger Paint', cursive;
    font-size: 16px;
    height: 350px;
}

.ql-editor p {
    text-indent: 2rem;
}

.ql-editor img{
    width:80%;
    margin:auto
}

.rotate {
    animation: rotation 3s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}